@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}

.teams{
    background: url('../BackgroundX.jpg');
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.teams .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.teams .carousel{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}


.teams .carousel .cardX{
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    height: 390px;
    width: 300px;
}

.teams .carousel .cardX:hover{
    background: crimson;
}

.teams .carousel .cardX .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .cardX:hover .box{
    transform: scale(1.05);
}

.teams .carousel .cardX .text{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    color: white;
}

.teams .carousel .cardX img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;

}

.teams .carousel .card:hover img{
    border-color: #fff;

}

.owl-dots{
    text-align: center;
    margin-top: 20px;

}

.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;

}

.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,

.owl-dot:hover{
    background: crimson!important;
}
